option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: "5000"
    APP_AWS_REGION: "ap-southeast-1"

    APP_SECRET_DB: "metro/dev/db"
    APP_SECRET_JWT: "metro/dev/jwt"
    APP_SECRET_MAIL: "metro/dev/mail"
    APP_SECRET_GOOGLE: "metro/dev/google"
    APP_SECRET_VNPAY: "metro/dev/vnpay"

    APP_ROUTE_BUCKET: "metro-route-data-<ACCOUNT>-dev"

    # Nếu muốn override trực tiếp (không dùng secret VNPay), bỏ comment 4 dòng dưới và thay <ENV_URL>, <TMN_CODE>, <HASH_SECRET>
    # VNP_TMN_CODE: "<TMN_CODE>"
    # VNP_HASH_SECRET: "<HASH_SECRET>"
    # VNP_PAY_URL: "https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
    # VNP_RETURN_URL: "https://<ENV_URL>/api/payments/vnpay/return"
